.pp--story__tool-button {
    overflow: hidden;
    margin-right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    html.mv & {
        width: 48px;
        height: 48px;
        margin-right: 0;
    }

    svg {
        fill: var(--color-black-500);
    }

    &_active {
        cursor: pointer;

        svg {
            fill: var(--color-black-600);
        }
    }
}

.pp--rotation {
    animation: pp-rotating 0.5s linear infinite;
}

@keyframes pp-rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
