.pp--additional-user-info {
    display: inline-flex;
    padding: 0 4px;
    align-items: center;

    gap: 4px;

    &__item {
        &_real-nickname {

        }

        &_point {
            width: 8px;
            height: 8px;
            border-radius: 4px;
            align-self: center;

            background-color: var(--color-black-alpha-10);
        }

        &_danger {
            background-color: var(--color-danger-800);
        }

        &_warning {
            background-color: var(--color-warning-800);
        }

        &_info {
            background-color: var(--color-warning-1000);
        }

        &_success {
            background-color: var(--color-primary-800);
        }
    }
}
