.pp--story__rating-count_plus-mobile {
  display: none;
}

.pp--story__rating-count_sum-mobile {
  display: inline-flex;
  align-items: center;
}

.story__footer-separator {
  width: auto;
  min-width: 10px;
}