.pp--comment__rating-up {
    padding: 2px 3px !important;
    margin-right: 0 !important;
}

.pp--comment__rating-up svg {
    margin-right: 0 !important;
}

.pp--comment__rating-count_plus {
    display: none;
}

.pp--comment__rating-count {
    padding: 0 12px;
    line-height: normal;
    font-weight: 500;
}
