.settings-items-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &__title {
    font-weight: bold;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}