body {
    padding: 0;
    margin: 0;

    width: 300px;

    font-family: system-ui, Georgia, serif;
    font-size: 14px;
}

.uuid {
    opacity: 0.5;
    font-size: 12px;
    text-align: right;
    margin: 1rem;
}
